<ul class="my-12 text-center text-xl font-medium text-secondary">
  {{ with .Site.Home }}
    <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      <a class="{{ if $.IsHome }}text-primary{{ end }} block py-2 transition-colors hover:text-primary" href="{{ .RelPermalink }}" itemprop="url">
        <span itemprop="name">{{ .LinkTitle | default (i18n "home") }}</span>
      </a>
    </li>
  {{ end }}
  {{- range site.Menus.main }}
    <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
      <a class="{{ if page.IsMenuCurrent .Menu . }}text-primary{{ end }} block py-2 transition-colors hover:text-primary" href="{{ .URL }}" itemprop="url">
        <span itemprop="name">{{ .Name }}</span>
      </a>
    </li>
  {{- end }}
</ul>
